@using Sandbox;
@using Sandbox.UI;

@namespace Twinstick
@inherits PanelComponent

<root>
    <div class="name">
        <div class="name-panel" @ref="NamePanel">
            <label>P@(Player.Info.Index + 1)</label>
        </div>
    </div>
    <div class="hints">
        <div class="hint small @ShieldClasses()">
            <InputHint Size=@InputGlyphSize.Large Action="Attack2" ScopeId=@Player.Info.Index GlyphColor=@GetColor() />
        </div>

        <div class="hint @BoostClasses()">
            <InputHint Size=@InputGlyphSize.Large Action="Boost" ScopeId=@Player.Info.Index GlyphColor=@GetColor()/>
        </div>

        <div class="hint small @HintClasses()">
             <InputHint Size=@InputGlyphSize.Large Action="Attack1" ScopeId=@Player.Info.Index GlyphColor=@GetColor() />
        </div>
    </div>

    <div class="bar-area">
        <div class="bar @BarClasses()">
            <div class="bar-inner" style=@BarStyles() />
        </div>
    </div>

</root>

@code
{
    [Property] public PlayerComponent Player { get; set; }
    public GameStateManager Manager => GameStateManager.Instance;

    public Panel NamePanel { get; set; }

    public HealthComponent HealthComponent => Player.HealthComponent;
    public ShootingComponent ShootComponent => Player.Components.Get<ShootingComponent>( FindMode.EnabledInSelfAndDescendants );
    public ShieldComponent ShieldComponent => Player.Components.Get<ShieldComponent>( FindMode.EnabledInSelfAndDescendants );

    string BarClasses()
    {
        return HealthComponent.Health < HealthComponent.HealthRange.y ? "visible" : "";
    }

    string ShieldClasses()
    {
        if ( ShieldComponent.IsActive ) return "cooldown";
        return "";
    }

    string BoostClasses()
    {
        if (Player.IsBoosting) return "cooldown";
        return "";
    }

    string BarStyles()
    {
        return $"background-color:{GetColor()}; width:{(HealthComponent.Health / HealthComponent.HealthRange.y) * 100f}%;";
    }

    Color GetColor()
    {
        return Manager.PlayerManager.PlayerColors[Player.Info.Index] * 1.15f;
    }

    string HintClasses()
    {
        var shootComponent = ShootComponent;
        if ( !shootComponent.IsValid() ) return "";
        if ( !shootComponent.CanFire() ) return "cooldown";

        return "";
    }

    protected override void OnTreeFirstBuilt()
    {
        NamePanel.BindClass( "visible", () => Manager.TimeSinceStateChanged < 2f );
        NamePanel.Style.BackgroundColor = Manager.PlayerManager.PlayerColors[Player.Info.Index].WithAlpha( 0.5f );
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Time.Now );
    }
}
